@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'GmarketSansMedium';

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding :3%
}

.board-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}